body {
  background-color: #ebf0f2;
}

nav {
  display: flex;
  justify-content: flex-end;
}

.sign-in-info {
  font-size: 80%;
  font-family: 'Montserrat', sans-serif;
}

nav .btn {
  width: 100px;
}
