/*top*/
body {
  background-color: #eceef1;
}

nav {
  display: flex;
  justify-content: flex-end;
}

.sign-in-info {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  line-height: 150%;
}

nav .btn {
  width: 100px;
  margin-right: 20px;
  margin-left: 10px;
  background-color: #0077c5;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
}

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    color: #8d9095;
    line-height: 1;
    font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .services {
    display: flex;
    justify-content: center;
    font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .services div {
    color: #8d9095;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .services, div, span, h1 {
    text-align: center;
  }

  h1 {
    margin-bottom: 10px;
  }

  img {
    height: 23px;
    width: 23px;
  }

  form {
    display: flex;
    justify-content: center;

  }

  .form-heading {
    margin-bottom: 20px;
  }

  fieldset {
    display: flex;
  }

  form .btn {
    background-color: #0077c5;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 10px;
  }
